<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	<link rel="stylesheet" href="/main.css" />
	<link rel="stylesheet" href="/css/apply.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<div id="header">
	<h1 class="title"><span style="font-weight:700;">Alpine</span> Apartments</h1>
	<div class="topnav">
		<button><a href="../">Home</a></button>
		<button><a href="../floor">Floor Plan & Amenities</a></button>
		<button><a href="../tour">Schedule A Tour</a></button>
		<button><a href="../apply">Apply</a></button>
		<button><a href="../log-in">Resident Links</a></button>
	</div>
</div>
<div id="result"></div>
<div id="content">
	<h1>Apply</h1>
	<form id="apply_form">
		<div class="left">
			<b>Contact Info</b><br><br>
			<label	label for="name"> Name</label>
			<input required type="text" id="name" name="name" placeholder="(first, last)"><br></br>
			<label for="phone"> Phone Number</label>
			<input  required type="tel" id="phone" name="phone" placeholder="(XXX)-XXX-XXXX"><br></br>
			<label for="Email"> Email</label>
			<input required type="email" id="Email" name="Email" placeholder="XXXXXX@XXXX.com"><br></br>
			<br>
		</div>
		
		<div class="right">
			<b>Apartment Specifications</b><br><br>
			<label for="Bed"> Beds:</label>
			<select name="Bed" id="Bed">
				<option value="Select">Select </option>
				<option value="1-Bed">1 Bed</option>
				<option value="2-Beds">2 Beds</option>
			</select> <br></br>

			<label for="Bath"> Baths:</label>
			<select name="Bath" id="Bath">
				<option value="Select">Select </option>
				<option value="1-Bath">1 Bath</option>
				<option value="2-Baths">2 Baths</option>
			</select> <br></br>

			Max Monthly Payment<br><br>
			<div class="slidecontainer">
				<input type="range" name="payment" min="100" max="1000" value="550" class="slider" id="myRange">
				<p>Value: $<span id = "maxPayment"></span> </p>
			</div> <br></br>

			<script>
			var slider = document.getElementById("myRange");
			var output = document.getElementById("maxPayment");
			output.innerHTML = slider.value;

			slider.oninput = function() {
				output.innerHTML = this.value;
			}
			</script>	
		</div>
		<div class="row">
			<button id="submit" type="submit" onclick="apply(); scrolldiv()">Submit</button>
		</div>
			
	</form>
</div>

	</body>
	<script type="text/javascript" src="/js/apply.js"></script>
</html>