<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	<link rel="stylesheet" href="/main.css" />
	<link rel="stylesheet" href="/css/forum.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
<div id="header">
	<h1 class="title"><span style="font-weight:700;">Lorem Ipsum</span> Apartments</h1>
	<div class="topnav">
		<button><a href="../">Home</a></button>
		<button><a href="../floor">Floor Plan & Amenities</a></button>
		<button><a href="../tour">Schedule A Tour</a></button>
		<button><a href="../apply">Apply</a></button>
		<button><a href="../resident-links">Resident Links</a></button>
	</div>
</div>
	<h1>Forum</h1>
	<p> wip </p>

	<form action="/resident-links/forum" method="post">
		<label for="name">Username</label><br>
		<input required type="text" id="form-username" name="username">
		<input required type="text" id="form-header" name="header">
		<textarea required type="text" id="form-message" name="message" style="width:600px; height:200px;"></textarea>
		<button type="submit" id="form-submit">Submit</button>
	</form>

	<p>Forum Post</p>
	<div id="forum-posts">
		<!-- Messages loaded with js following the format -->
<!-- 		<p class="post-username">Usrname</p>
		<p class="post-header">Title of the Post</p>
		<p class="post-message">Contents of the post</p> -->
	</div>
	<script type="text/javascript" src="forum.json" id="inputfile"></script>
	<script type="text/javascript" src="/js/forum.js"></script>
</body>
</html>