form {
    text-align:center;
}

#username-field, #password-field {
    width:25%;
    padding:10px;
    margin:15px;
    border:none;
    font-size:18px;
    text-align:center
}

#login-form-submit {
	padding:5px 10px;
	background-color:#305252;
	color:#ffffff;
	border: solid 1.2px #373E40;
	border-radius:5px;
	font-family: 'Karla', sans-serif;
	font-weight:bold;
	text-transform: uppercase;
	font-size: 20px;
    margin:15px;
}

li {
    display:block;
}